.umbrella {
    fill: transparent;
    animation: umbrella 3s infinite;
}

@keyframes umbrella{
    from {
      -moz-transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }
    
    to {
      -moz-transform: rotateZ(-360deg);
      -ms-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
    }
  }